.container {
  background-color: $color-pewter;
}

.board-section {
  background-color: $color-white-smoke;
}

.dashboard-section {
  background-color: $color-salmon-lightest;
}

.snap-section {
  background-color: $color-white-smoke;
}