* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(desktop) {
    font-size: 75%;
  }
}

body {
  background-color: $color-salmon-lightest;
  color: $color-pineapple;
  font-family: $font-lato;
  font-size: 1.8rem;
}








.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  opacity: 0;
  transition: all 2s $transition-one;
}