// $color-pewter: #91a5b9;
$color-pewter: #91B0C7;
$color-pewter-light: lighten($color: $color-pewter, $amount: 20%);

$color-white-smoke: #f9f5f2;

$color-salmon-light: #fbbb9a;
$color-salmon-lightest: lighten($color: $color-salmon-light, $amount: 10%);

$color-pineapple: rgb(65, 60, 94);
$color-pineapple-light: lighten($color: $color-pineapple, $amount: 30%);

$color-desire: #ea5455;

$pewter-shadow: 0 4px 12px -6px rgba(145, 165, 185, 0.7);
$pineapple-shadow: 0 0 0 3px rgba(65, 60, 94, 0.5);

$font-lato: 'Lato', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$transition-one: all .2s Cubic-bezier(1, .63, .39, 1.12);
$transition-two: all .3s Cubic-bezier(1, .63, .39, 1.12);