.btn-color {

  &__display {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    order: 2;
    border-radius: 50%;
    background-color: $color-pewter;
    border: 2px solid $color-pineapple;
  }

  &__input {
    opacity: 0;
    height: 3rem;
    width: 3rem;
  }
}