.dashboard-section {
  overflow: scroll;
  
  &__board,
  &__snap {
    padding: 1rem;
  }
}

.add-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-field {
  position: relative;
  margin: 2rem 1.5rem 2rem 0;

  @include respond (tab-port) {
    margin: 1rem 1.5rem 1rem 0;
  }
}